

.off-canvas-wrap
  overflow: hidden
  max-width: 100%


// Main Menu
// ------------------------------------------------------

$off-menu-border: lighten($blue, 2%)

.right-off-canvas-menu

  .menu-name-main-menu
    +main-menu-style()
    
    ul
      +list-clear()

    a
      +icon-after($fa-var-angle-right, $off-menu-border)


// *
// * Media Queries
// *
// ******************************************************

+respond($mobile-to-menu)


  // Main Menu
  // ------------------------------------------------------

  .right-off-canvas-menu
    padding-top: $topbar-height
    padding-left: 0
    padding-right: 0

    & > *
      max-width: $off-canvas-width
      +column-padding()
      overflow: hidden

    #cart-wrapper, .menu-name-main-menu
      +expand-row()
      border-top: 2px solid $off-menu-border

    #cart-wrapper
      padding: 0 $column-gutter/2
      height: $topbar-height

    .menu-name-main-menu
      +main-menu-style()

      a
        display: block
        padding: 0 $column-gutter/2

        &:after
          float: right
          line-height: $topbar-height
          padding-right: 0

        &:hover, &:active
          //background: $topbar-link-bg-hover
          //color: $color-hover

          &:after
            //color: $white

      .active-trail, .active
        a
          color: $blue-dark 
          background: darken($blue, 3%)



+respond($past-menu)

  .move-left > .inner-wrap
    +translate3d(0, 0, 0)

  .toggle-off-canvas
    display: none

  // Main Menu
  // ------------------------------------------------------

  .right-off-canvas-menu
    background: none
    position: relative!important
    overflow: visible
    padding-top: 0
    height: auto!important
    float: left
    +translate3d(0, 0, 0)
    +box-sizing(border-box)
    width: auto!important
    z-index: 1

    .menu-name-main-menu
      border-top: 0
      +main-menu-style-horizontal()
      
      ul 
        +clearfix
        float: right

        li
          margin-bottom: 0

      a
        &:after
          display: none