

.off-canvas-wrap
  overflow: hidden
  max-width: 100%


.toggle-off-canvas
  line-height: $topbar-height
  position: absolute
  top: 0
  font-size: rem-calc(20)
  z-index: 1

  span
    +e(hide)

  a
    +c(link-yellow)


.menu-toggle
  text-align: left
  left: $column-gutter/2

.search-toggle
  text-align: right
  right: $column-gutter/2
  // account for menu extra width
  margin-right: 1%

.right-off-canvas-toggle
  i
    margin-right: 0


// Main Menu
// ------------------------------------------------------

//$off-menu-border: lighten($blue, 2%)

.right-off-canvas-menu
  .right-off-canvas-toggle
    +c(link-yellow)
    padding-left: $column-gutter
    position: absolute
    font-size: 1rem
    top: $topbar-height - rem-calc(5)
    z-index: 1


  .menu-name-main-menu
    +main-menu-style()
    
    ul
      +list-clear()

    a
      //+icon-after($fa-var-angle-right, $off-menu-border)


// Main section sub-menu (sidebar)
// ------------------------------------------------------

#toggle-main-section-menu-close
  +c(link-white)
  background: $topbar-bg-color
  margin-bottom: rem-calc(12)
  line-height: rem-calc(40)
  display: block
  text-align: right

.left-off-canvas-menu
  background: $gray-lighter


// *
// * Media Queries
// *
// ******************************************************


+respond($small-only)

  .left-off-canvas-menu
    padding: rem-calc(0)!important
    border: common-border-val()

    & > *
      max-width: $off-canvas-width
      +column-padding()
      overflow: hidden


+respond($mobile-to-menu)

  // Main Menu
  // ------------------------------------------------------

  .right-off-canvas-menu
    padding-top: $topbar-height
    padding-left: 0
    padding-right: 0

    & > *
      max-width: $off-canvas-width
      +column-padding()
      overflow: hidden

    .block-balt-apachesolr
      margin-top: -$topbar-height
      //margin-bottom: rem-calc(10)
      padding-top: rem-calc(10)

    .menu-name-main-menu
      +expand-row()
      padding-top: rem-calc(44)

      li a
        display: block
        padding: 0 $column-gutter

        &:after
          //float: right
          //line-height: $topbar-height
          //padding-right: 0

        &:hover, &:active
          //background: $topbar-link-bg-hover
          //color: $color-hover

          &:after
            //color: $white

      .active-trail, .active
        a
          //color: $blue-dark 
          //background: darken($blue, 3%)


+respond($medium)

  #toggle-main-section-menu
    display: none

  .move-right > .inner-wrap
    +translate(0, 0, 0)

  #toggle-main-section-menu-close
    display: none

  .left-off-canvas-menu
    position: relative!important
    left: auto!important
    overflow: visible
    padding-top: 0
    height: auto!important
    float: left
    +translate(0, 0)
    +box-sizing(border-box)
    width: gridCalc(3, 12)
    z-index: 1
    background: none!important


+respond($past-menu)

  .move-left > .inner-wrap
    +translate(0, 0, 0)

  .toggle-off-canvas
    display: none

  // Main Menu
  // ------------------------------------------------------

  .right-off-canvas-menu
    background: none
    position: relative!important
    overflow: visible
    padding-top: 0
    height: auto!important
    float: left
    +translate(0, 0)
    +box-sizing(border-box)
    width: auto!important
    z-index: 1

    .menu-name-main-menu
      border-top: 0
      +main-menu-style-horizontal()
      
      ul 
        +clearfix
        float: right

        li
          margin-bottom: 0

      a
        &:after
          display: none