

$orbit-button-height: rem-calc(40)
$orbit-button-width: rem-calc(40)
$orbit-button-font-size: rem-calc(30)


// Orbit
//-----------------------------------------------------------------------------

.orbit-container
  //+expand-row(true)
  width: auto

ul[data-orbit]
  +list-clear

  h2
    a
      +c(link-alt)

  & ~ .orbit-prev,
  & ~ .orbit-next
    color: $gray
    text-indent: 0!important

    &:before
      width: 100%!important

    span 
      display: none!important

    &:hover
      background: none

    &:active
      background: none

  & ~ .orbit-prev
    +icon-replace(chevron-left, $orbit-button-width, $orbit-button-height, $orbit-button-font-size)

  & ~ .orbit-next
    +icon-replace(chevron-right, $orbit-button-width, $orbit-button-height, $orbit-button-font-size)

.orbit-timer
  display: none!important


// *
// * Media Queries
// *
// ******************************************************

+respond($medium-up)

  // Orbit
  //-----------------------------------------------------------------------------

  ul[data-orbit]
    

+respond($large-up)

  // Orbit
  //-----------------------------------------------------------------------------

  ul[data-orbit]

