

$orbit-button-height: rem-calc(40)
$orbit-button-width: rem-calc(40)
$orbit-button-font-size: rem-calc(55)


// Orbit
//-----------------------------------------------------------------------------

.orbit-container
  //+expand-row(true)
  width: auto

ul[data-orbit]
  +list-clear

  h4
    color: $white
    
    a 
      +c(link-white)

  & ~ .orbit-prev,
  & ~ .orbit-next
    +c(link-white)
    text-indent: 0!important

    &:before
      width: 100%!important

    span 
      display: none!important

    &:hover
      background: none

    &:active
      background: none

  & ~ .orbit-prev
    +icon-replace(angle-left, $orbit-button-width, $orbit-button-height, $orbit-button-font-size)

  & ~ .orbit-next
    +icon-replace(angle-right, $orbit-button-width, $orbit-button-height, $orbit-button-font-size)

.orbit-timer
  display: none!important


// Traditional caption????
//-----------------------------------------------------------------------------
.carousel-caption
  @if $orbit-caption-position == "bottom"
    position: absolute
    bottom: 0
  @else if $orbit-caption-position == "under"
    position: relative
  

  background-color: $orbit-caption-bg
  color: $orbit-caption-font-color
  width: 100%
  padding: $orbit-caption-padding
  font-size: $orbit-caption-font-size


// *
// * Media Queries
// *
// ******************************************************

+respond($medium-up)

  // Orbit
  //-----------------------------------------------------------------------------

  ul[data-orbit]
    

+respond($large-up)

  // Orbit
  //-----------------------------------------------------------------------------
  $expand-orbit: rem-calc(40)
  
  .orbit-container
    +expand-row($expand-orbit)
    +column-padding($expand-orbit)

    ul[data-orbit]
      overflow: hidden

  ul[data-orbit]

    & ~ .orbit-prev,
    & ~ .orbit-next
      color: $gray

      &:hover
        color: darken($gray, 10%)

    & ~ .orbit-prev
      //margin-left: rem-calc(-30)

    & ~ .orbit-next
      //margin-right: rem-calc(-30)

