// Non-modular or client styles for .l-footer region.


.l-footer
  background: $blue-darker
  position: relative
  overflow: hidden

  .block-title
    font-size: rem-calc(24)
    +f(alt-alt)
    color: $teal

// footer top
//-----------------------------------------------------------------------------

.l-footer-top
  background: $blue
  padding: $small-region-pad-large 0

  p
    margin-bottom: $paragraph-margin-bottom/2
    text-align: center

  &
    color: $white

  a
    +c(link-white)

  .button
    +button-style($blue-dark-front)

  
  .block-baltimore-govdelivery
    +max-width-center(rem-calc(420))
    margin-bottom: $paragraph-margin-bottom

    h2.block-title
      +e(hide)

    form
      +inline-input-button()

// Upper footer section
//-----------------------------------------------------------------------------

.l-footer-sections-top

.l-footer-sections-bottom
  padding-bottom: $small-region-pad-large
  padding-top: $small-region-pad-large


  strong
    color: $yellow-footer

  &, p, ul
    font-size: rem-calc(16)

  &, p
    color: $white

  a
    +c(link-white)
    
  ul 
    +list-clear

    li
      margin-left: 0

  form
    +sleek-form(true, true)

.block-bean-footer-logos
  img
    margin-bottom: $paragraph-margin-bottom


// Bottom footer
//-----------------------------------------------------------------------------

.l-footer-wrap
  background: $blue-black
  padding-top: $small-region-pad-large

  &, p, ul
    font-size: rem-calc(12)

  &, p
    color: $white

  p
    margin-bottom: $paragraph-margin-bottom/2

  p, ul.inline-list
    +opacity(0.33)

  a
    +c(link-white)
    text-decoration: underline


// *
// * Media Queries
// *
// ******************************************************

+respond($small-only)

  // footer top
  //-----------------------------------------------------------------------------

  .l-footer-top

  .block-baltimore-govdelivery-subscribe p,
  .block-bean-citywide-social-icon
    +max-width-center(rem-calc(222))
  
  .block-bean-citywide-social-icon

    li:nth-child(3) a.social-icon
      margin-right: 0!important

  

  // Upper footer section
  //-----------------------------------------------------------------------------
  
  .footer-third
    margin-bottom: $small-region-pad-large
  
  .block-bean-footer-logos
    p 
      text-align: center
    
    img
      margin-left: $column-gutter/2
      margin-right: $column-gutter/2

    br
      display: none


+respond($medium-up)

  .l-footer
    .block
      position: relative
      z-index: 1

    &:after
      +before-as-image(block, bottom, 0)
      +full-image(footer-back)
      left: 0
      +opacity(0.03)
      z-index: 0

  .l-footer-sections-bottom
    padding-top: $medium-region-pad-large*2

    .block-webform
      .block-title
        float: left
        width: rem-calc(120)

    form
      padding-left: rem-calc(125)

  .block-bean-citywide-social-icon
    a.social-icon
      overflow: visible

  .block-bean-footer-logos
    float: left
    width: grid-calc(2, 12)

    & ~ .block
      float: none
      padding-left: grid-calc(2.5, 12)