// Non-modular or client styles for .l-header region.

.l-header-region
  padding-top: $small-region-pad-large
  +nice-row-border($column-gutter/2, rem-calc(5), $common-border, bottom, hidden)

  div.columns
    padding-bottom: $small-region-pad-small*2


// Entity Branding
// ------------------------------------------------------

.header-branding

#entity-title
  font-size: $h1-font-size
  margin: 0
  padding: rem-calc(8 0 0)


// Header region right
// ------------------------------------------------------

.header-region-right
  .block 
    margin-bottom: rem-calc(15px)
    float: left

  .f-dropdown
    min-width: $f-dropdown-max-width

  a 
    +c(link-header)




// *
// * Media Queries
// *
// ******************************************************

+respond($mobile-to-menu)


+respond($medium)
  .l-header-region
    //padding-bottom: $medium-region-pad-small
    padding-top: $medium-region-pad-large


+respond($past-menu)

  // Header region right
  // ------------------------------------------------------

  .header-region-right
    margin-top: rem-calc(-5)

    .block 
      float: right