// Non-modular or client styles for .l-header region.

.l-header-region
  padding-top: $small-region-pad-large
  +nice-row-border($column-gutter/2, rem-calc(5), $common-border, bottom, hidden)


// Entity Branding
// ------------------------------------------------------

#entity-title
  font-size: $h1-font-size
  margin: 0
  padding: rem-calc(8 0)

// *
// * Media Queries
// *
// ******************************************************

+respond($mobile-to-menu)


+respond($medium)
  .l-header-region
    //padding-bottom: $medium-region-pad-small
    padding-top: $medium-region-pad-large


+respond($past-menu)