// Non-modular or client styles for the .l-content region.


// main wrapper
// ----------------------------------------------------------------------------
.l-main
  padding-bottom: $small-main-block-spacing*2



// Page title
// ----------------------------------------------------------------------------

#page-title, #section-title
  +h(page-title)

  // page title hidden
  .no-page-title &
    +e(hide)


// Tabs
// ----------------------------------------------------------------------------

.main > ul.button-group
  margin-bottom: $small-region-pad-small

  li.active
    a
      +button-style($primary-color)

  a
    margin-bottom: rem-calc(5)
    border-color: $gray


// Action links
// ----------------------------------------------------------------------------

.main > ul.action-links
  +list-float

  a
    +button($button-tny, $success-color, true)
    +border-radius(3px)


// Main Content
// ----------------------------------------------------------------------------

.main 

  // page title hidden
  .no-page-title &
    padding-top: $header-bottom-margin

  // block spacing
  +main-verical-spacing()

  .block-workbench,
  .block-flight-city-workbench
    margin-bottom: $small-region-pad-small


// Fake title blocks
.title-block
  margin-bottom: 0!important
  +views-see-more-header()


// Lower content
// ----------------------------------------------------------------------------

.main 
  & > .row:not(.node)
    padding-top: $small-main-spacing
    padding-bottom: $small-main-spacing



// Common fields
// ----------------------------------------------------------------------------

.node .field
  line-height: $paragraph-line-height

// Date links

// Share links
.node
  .block-share42

.more-link,
.field-name-node-link
  text-align: left
  +f(alt-alt-bold)
  +c(link-alt)


// Media
// ----------------------------------------------------------------------------

p img:only-child
  margin-bottom: 0

.node, .entity-bean, .block
  img, iframe
    margin-bottom: $paragraph-margin-bottom


// *
// * Media Queries
// *
// ******************************************************

+respond($medium-up)

  // main wrapper
  // ----------------------------------------------------------------------------
  .l-main
    padding-bottom: $medium-main-block-spacing*2


  // Main Content
  // ----------------------------------------------------------------------------

  .main 
    +main-verical-spacing('medium')

    .block-workbench,
    .block-flight-city-workbench
      margin-bottom: $small-region-pad-small



+respond($large-up)

  // center main in columns
  .medium-8.main
    margin-left: (grid-calc(1, 12)/2)