

// Define new media query
// ---------------------------------------------------------------------------- 

meta.mobile-to-menu
  font-family: "/#{$mobile-to-menu}/"
  max-width: upper-bound($menu-range)

meta.past-menu 
  font-family: "/#{$past-menu}/"
  min-width: $menu-break-plus

meta.small-only
  font-family: "/#{$small-only}/"
  min-width: upper-bound($small-range)


// Html / body
// ---------------------------------------------------------------------------- 

html,body
  max-width: 100%

body
  line-height: 1.3


// Admin-menu
// ---------------------------------------------------------------------------- 

html body.admin-menu
  margin-top: 0px !important

  & > .page
    margin-top: rem-calc(30)


// Foundation override
// ---------------------------------------------------------------------------- 

.row > .row
  +expand-row(0)

//hide lack of left side if none
.main,
.l-featured
  [class*="column"] + [class*="column"]:last-child
    float: left



// Hide other page elements on help pages, popups
// ---------------------------------------------------------------------------- 

.node-type-help
  .page
    margin-top: 0!important

  // hide bars
  #admin-menu, 
  #navbar-administration
    +e(hide)

  // hide header elements
  .l-header
    +e(hide)

  // Hide home breadcrumb
  ul.breadcrumbs
    li:first-child
      display: none!important

      & + li
        padding-left: 0

        &:before
          display: none  

  // hide footer elements
  .l-footer-top, .l-footer-sections-top, .l-footer-sections-bottom
    +e(hide)




// *
// * Media Queries
// *
// ******************************************************

+respond($medium-up)

  // sticky footer
  //+sticky-footer(rem-calc(310), ".page", "#footer-push", ".l-footer")


+respond($past-menu)
  
  //+sticky-footer(rem-calc(245), ".page", "#footer-push", ".l-footer")

+respond($large)
  
  // Add bordered appearance
  //.page 
    //background: $gray-border

    //$background-width: $row-width + rem-calc(60)

    //&:before
      //background: $white
      //content: " "
      //position: absolute
      //top: 0
      //height: 100%
      //left: 50%
      //margin-left: -($background-width/2)
      //width: $background-width