

// Define new media query

meta.mobile-to-menu
  font-family: "/#{$mobile-to-menu}/"
  max-width: upper-bound($menu-range)

meta.past-menu 
  font-family: "/#{$past-menu}/"
  min-width: $menu-break-plus

meta.small-only
  font-family: "/#{$small-only}/"
  min-width: upper-bound($small-range)

html body.admin-menu
  margin-top: 0px !important

  & > .page
    margin-top: rem-calc(30)

html,body
  max-width: 100%

.row > .row
  +expand-row(0)

//hide lack of left side if none
.main,
.l-featured
  [class*="column"] + [class*="column"]:last-child
    float: left

// *
// * Media Queries
// *
// ******************************************************

+respond($medium-up)

  // sticky footer
  //+sticky-footer(rem-calc(310), ".page", "#footer-push", ".l-footer")


+respond($past-menu)
  
  //+sticky-footer(rem-calc(245), ".page", "#footer-push", ".l-footer")

+respond($large)
  
  // Add bordered appearance
  .page 
    background: $gray-border

    $background-width: $row-width + rem-calc(60)

    &:before
      background: $white
      content: " "
      position: absolute
      top: 0
      height: 100%
      left: 50%
      margin-left: -($background-width/2)
      width: $background-width