// Non-modular or client styles for the .l-triptych region.

.l-triptych
  padding-bottom: $small-main-block-spacing*2
  padding-top: $small-main-spacing

  .block
    margin-bottom: $small-main-block-spacing

.triptych-first

.triptych-middle

.triptych-last