

// Featured
// --------------------------

.l-featured
  padding-top: $small-region-pad-small
  +nice-row-border($column-gutter/2, rem-calc(5), $common-border, bottom, hidden)


// Help / Breadcrumbs
// --------------------------

.l-help
  padding-top: $small-region-pad-small

.breadcrumbs


// Messages
// ----------------------------------------------------------------------------

.l-messages
  .alert-box:first-child
    margin-top: $alert-bottom-margin

    .l-help ~ &
      margin-top: 0    


// *
// * Media Queries
// *
// ******************************************************

+respond($medium-up)

  // Messages
  // ----------------------------------------------------------------------------

  .l-messages

    & > .columns
      margin-left: (grid-calc(1, 12)/2)
      margin-right: (grid-calc(1, 12)/2)
      width: grid-calc(11, 12)

  // Featured
  // --------------------------

  .l-featured

    &:after
      padding-top: $medium-region-pad-large
