// import compass
@import "compass/css3"
@import "compass/utilities"

$fa-include-css: false
// get icons
@import "components/icons-fontawesome"

//***********************************
// START FLIGHT MIXINS
// available from base for reference
//***********************************

// sets element as visible
// use on :before / :after
//
//** $display: sets display
//** $direction: position absolute? use: left, right, top, bottom
//** $amount: amount to set $direction as absolute
//
// @mixin before-as-image($display: block, $direction: false, $amount: 0)

// simple list clear: padding, margin, list-style 
//
// @mixin list-clear()


// simple inline list
//
// @mixin list-float()


// hit all headers
//
// @mixin all-headers()


// makes div an overflow ellipse
//
// @mixin ellipsis()


// hit all form inputs
//
//** $select: also hit select
//
// @mixin all-form-inputs($select: true)


// strips foundation button styling into a link
//
//** $color: color of link
//** $hover: hover color of link
//
// @mixin undo-button($color: $anchor-font-color, $hover: $anchor-font-color-hover)


// Grid / Layout


// Gets em-compensated value (useful for headers, buttons)
// not especially useful now rem's are being used
//
//** $size: desired em
//** $element: size to modify by (eg. $h2-font-size)
//
// @function compensate-size($size, $element, $base: rem-calc($rem-base))


// add / remove column padding 
//
//** $half: true - sets padding to column-gutter/2, otherwise uses value passed as padding. Use 0 to remove
//** $modify: if value present passes padding through compensate-size
//
// @mixin column-padding($half: true, $modify: false)


// expand row - expands a div with negative margins
//
//** $half: true - sets margin to column-gutter/2, otherwise uses value passed as margin. Use 0 to remove
//** $modify: if value present passes padding through compensate-size
//
// @mixin expand-row($half: true, $modify: false)


// runs both column padding and expand row with same value
//
//** $half: true - sets margin to column-gutter/2, otherwise uses value passed as margin. Use 0 to remove
//** $modify: if value present passes padding through compensate-size
//
// @mixin expand-and-padding($half: true, $modify: false)


// fakes a column if proper html structure doesn't allow
//
//** $position: first or last sets padding to 0 accordingly, 
//** $columns: column count
//
// @mixin fake-column($position: first, $columns: ($total-columns/2))


// quick even columns using fake column
// accepts list of selectors
//
//** $selectors: list of css selectors to run through
//** $column-counts: list of column widths (eg. "2 4 2"), or false if just equal
//** $property: simple poperty in list format to add to all fake columns (eg. "display block")
//
// @mixin quick-columns($selectors, $column-counts: false, $property: false)


// Border for columns or interior elements that don't have the proper width
// Like border on a row is too wide
//
//** $margin: what margin the border should have, use negative to expand border
//** $padding: padding added to element 
//** $border: border property (eg. 1px solid black)
//** $direction: top or bottom, places border either above or below
//** $hide: optional selector to hide border, defaults to last/first child depending on direction 
//
// @mixin nice-row-border($margin: $column-gutter/2, $padding: 1em, $border: 1px solid $gray, $direction: bottom, $hide: false)


// centers an element
//
// @mixin centered()


// centers an element with a max width
//
//** $width: max-width element should take
//
// @mixin max-width-center($width: $grid-max-width)


// Responsive

// takes content and puts it inside the $media query... simple shortcut
//
//** $media: a media query, (eg. $small-only, $large-up, ect)
// @mixin respond($media)


//************************************
// Sprites
//************************************

// simple background sprite, does not use compass
//
//** $x: x position
//** $y: y position
//** $img: file name, assumes in /images
//** $repeat: repeat settings
//
// @mixin image-sprite($x, $y, $img: "sprite.png", $repeat: no-repeat)


// text replacing sprite
//
//** $width: width of element
//** $height: height of element
//** $left: x position
//** $top: : y position
//** $img: file name, assumes in /images
//** $repeat: repeat settings
//
// @mixin image-replace($width, $height, $left, $top, $img: "sprite.png", $repeat: no-repeat)


// Compass sprite mixin, can be used inside media queries
// http://compass-style.org/reference/compass/helpers/sprites/
//
//** $map: name of sprite map 
//** $sprite: name of image file 
//** $offset-x: x offset 
//** $offset-y: y offset 
//** $repeat: repeat settings 
//** $height: true if auto set to size of image 
//** $width: true if auto set to size of image 
//** $hover: if hover effect insert name of hover sprite
//
// @mixin get-sprite($map, $sprite, $offset-x: 0, $offset-y: 0, $repeat: no-repeat, $height: true, $width: true, $hover: false)


//***********************************
// Animations
//***********************************


// Default variables
//
//** $animation-time: 1s!default
//** $animation-rotation-border-color-inactive: #eee!default
//** $animation-rotation-border-color: #ddd!default
//** $animation-rotation-border-width: rem-calc(2)!default


// Sets up css animation
//
//** $time: Speed
//
// @mixin rotation($time: $animation-time)


// prints out rotation definition
//
// @mixin rotation-init


// Active spinner
//
//** $border-color: color of active spinner 
//** $time: Speed
//
// @mixin spinner-active($border-color: $animation-rotation-border-color, $time: $animation-time)


// Spinner container
// 
//** $dimensions: size of spinner in list format
//** $border-color-inactive: color of
//** $border-width: width of spinner border
//
// @mixin spinner-core($dimensions, $border-color-inactive: $animation-rotation-border-color-inactive, $border-width: $animation-rotation-border-width)


// Flight variables
//
// ******************************************************

$animation-time: 0.75s
$animation-rotation-border-color-inactive: $gray
$animation-rotation-border-color: $gray-dark
$animation-rotation-border-width: rem-calc(2)!default

+rotation-init


//***********************************
// END FLIGHT MIXINS
// 
//***********************************



// @file
// Place your mixins here. Feel free to roll your own mixins.

// clearix override
//
@mixin clearfix()
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden

  /* IE6 */
  & * html
    height: 1%
  
  /* IE7 */
  .clearfix *:first-child + html & 
    min-height: 1%


//***********************************
// Sprite Definitions
//
// Create folder in images/ called icons/ place any .png files in there,
// and reference them by their file name
//***********************************

@import "compass/utilities/sprites/base"

$disable-magic-sprite-selectors: true

// Use these lines for traditional compass sprites
// see http://compass-style.org/help/tutorials/spriting/
//@import "icons/*.png";

//@include all-icons-sprites;

// Use this style for sprites inside media queries
// for use with +get-sprite() mixin
$full-common: sprite-map("full-common/*.png")

// shortcut for sprites
@mixin full-image($sprite, $offset-x: 0, $offset-y: 0, $repeat: no-repeat, $height: true, $width: true, $hover: false)
  +get-sprite($full-common, $sprite, $offset-x, $offset-y, $repeat, $height, $width, $hover)

// shortcut for hover images
@mixin full-image-hover($sprite, $hover: "#{$sprite}-hover")
  +s-image($sprite, 0, 0, no-repeat, true, true, $hover)



/***********************************
// Silent Extends
//
// Silent extends help cut down on the length of compiled css by routing
// each call to the extend at the top of the css file.
//
// They cannot as of SASS 3.2.5 be used within media queries
//
//***********************************

// general
// -----------------------------------
// use the +e() mixin

%hide
  display: none

%show
  display: block

%offscreen
  position: absolute
  left: -10000px
  top: auto
  width: 1px
  height: 1px
  overflow: hidden
  display: inline

// backgrounds
// -----------------------------------
// use the +b() mixin

%background-gray
  background: $gray-lighter
  margin-bottom: $small-region-pad-large

%background-reset
  background: transparent

// text colors
// -----------------------------------
// use the +c() mixin

%color-normal
  color: $body-font-color

%color-link-color
  color: $anchor-font-color

%color-hover-color
  color: $anchor-font-color-hover

%color-link
  @extend %color-link-color

  &:hover
    @extend %color-hover-color

%color-link-alt
  color: $blue-link-alt

  &:hover
    color: darken($blue-link-alt, 10%)

%color-link-gray
  color: $gray

  &:hover
    color: darken($gray, 10%)

%color-link-white
  color: $white

  &:hover
    color: darken($white, 10%)

%color-link-yellow
  color: $yellow

  &:hover
    color: darken($yellow, 10%)

%color-link-header
  color: $black

  &:hover
    color: $blue-link

  &:active
    color: $blue-link-active

%color-link-header-full
  a 
    color: $black

  &:hover
    a
      color: $blue-link

  &:active
    a
      color: $blue-link-active

// fonts
// -----------------------------------
// use the +f() mixin

%font-weight-normal
  font-weight: $font-weight-normal

%font-weight-bold
  font-weight: $font-weight-bold

%font-normal
  font-family: $body-font-family
  font-style: $body-font-style
  font-weight: $body-font-weight

%font-alt
  font-family: $ff-alt
  font-style: normal
  font-weight: $font-weight-normal

%font-alt-bold
  @extend %font-alt

%font-alt-alt
  font-family: $ff-alt-alt
  font-style: normal
  font-weight: $font-weight-normal

%font-alt-alt-bold
  @extend %font-alt-alt
  font-weight: $font-weight-bold

%font-reset
  @extend %font-normal
  font-size: $base-font-size
  line-height: $base-line-height

%font-reset-full
  @extend %font-reset
  color: $body-font-color
  text-transform: none


// headers
// -----------------------------------
// use the +h() mixin

%header-core
  color: $header-font-color
  text-rendering: $header-text-rendering
  margin-top: $header-top-margin
  margin-bottom: $header-bottom-margin
  line-height: $header-line-height

%header-1
  @extend %header-core
  @extend %font-alt
  font-size: $h1-font-size

%header-2
  @extend %header-core
  @extend %font-alt
  font-size: $h2-font-size

%header-3
  @extend %header-core
  @extend %font-alt-alt-bold
  font-size: $h3-font-size

%header-4
  @extend %header-core
  @extend %font-alt-alt-bold
  font-size: $h4-font-size

%header-5
  @extend %header-core
  @extend %font-alt-alt
  font-size: $h5-font-size

%header-6
  @extend %header-core
  font-size: $h6-font-size

%header-page-title
  font-size: $h2-font-size
  margin-bottom: $small-main-spacing

// general extend
// use: +e(hide)
@mixin e($extend)
  @extend %#{$extend}

// extend for backgrounds
// use: +b(reset)
@mixin b($extend)
  @extend %background-#{$extend}

// extend for text color
// use: +c(normal)
@mixin c($extend)
  @extend %color-#{$extend}

// extend for font styles
// use: +f(reset)
@mixin f($extend)
  @extend %font-#{$extend}

// extend for header styles
// use: +h(1)
@mixin h($extend)
  @extend %header-#{$extend}


//***********************************
// Helpers
//
//***********************************

@function common-border-val($color: $gray, $width: 1px)

  @return solid $color $width

// Set var
$common-border: common-border-val()

@mixin common-border($direction: bottom, $color: $gray, $width: 1px)

  $selector: border

  @if $direction
    $selector: border-#{$direction}

  #{$selector}: common-border-val($color, $width)


@mixin disable-while-loading($loading: '&', $loaded: '[data-uuid]', $icon: false, $size: rem-calc(50), $color: $gray)
  @if $icon
    +icon(spinner, ($size*(53/50)), $color)

    &:before
      +simple-center-both($size)
      height: $size
      z-index: 1
      width: $size
      +rotation

  #{$loading}
    +opacity(.2)
    +transition(opacity ease-in .2s)
    @if $icon
      position: relative
      z-index: 0
  
    @if $loaded
      &#{$loaded}
        +opacity(1)
        @if $icon
          position: absolute
          z-index: 2

// shortcut for nice row border
// node teasers

@mixin nice-teaser-border($size: normal)
  +clearfix

  &:after
    visibility: visible

  @if $size == normal
    +nice-row-border($column-gutter/2, rem-calc(35), 1px solid $gray, bottom, hidden)


%views-see-more-header
  position: relative

  .more-link
    a 
      +f(alt-alt)

  @media #{$medium}

    .more-link
      right: $column-gutter/2
      top: rem-calc(20)
      position: absolute
      z-index: 1


@mixin views-see-more-header($padding: false)
  @extend %views-see-more-header

  @if $padding
    h2.block-title, .views-header h2
      padding-right: $padding

%views-see-more-footer-button

  .more-link
    text-align: left

    a 
      +button()

@mixin views-see-more-footer-button()
  @extend %views-see-more-footer-button


//***********************************
// Layout 
//
//***********************************

// Make columns fixed size
@mixin fixed-size-columns($width: rem-calc(120), $core: true, $fixed: '.group-left', $other: '.group-right', $direction: 'left')
  
  #{$fixed}
    width: $width
    @if $core
      z-index: 1

  #{$other}
    padding-#{$direction}: $width + $column-gutter/2
    @if $core
      float: none!important
      width: 100%

@mixin no-page-title()
  #page-title
    +e(hide)


@mixin background-box($padding: $small-region-pad-large)
  +b(gray)
  padding: $padding



@mixin main-verical-spacing($display: 'mobile')

  @if $display == 'mobile'
    .block
      margin-bottom: $small-main-block-spacing

    .block-title
      +h(page-title)

  @else 
    .block
      margin-bottom: $medium-main-block-spacing




//***********************************
// Content Styling
//
//***********************************

@mixin social-links-floated($display: mobile, $left-field: '.field-name-post-date')
  @if $display == 'mobile'
    #{$left-field},
    .block-share42
      margin-bottom: $paragraph-margin-bottom

    #{$left-field}
      line-height: 2

    .block-share42
      float: left

      & + *
        clear: both

  @else 
    #{$left-field}
      float: left

    .block-share42
      float: none


@mixin block-with-top-border($display: 'mobile', $more: true)

  @if $display == 'mobile'
    margin-top: $small-main-block-spacing
    padding-top: $small-main-block-spacing/2
    border-top: common-border-val()

  @else 
    margin-top: $medium-main-block-spacing
    padding-top: $medium-main-block-spacing/2

    @if $more
      .more-link
        padding-top: $medium-main-block-spacing/2


//***********************************
// Icons boxes
//
//***********************************


%icon-circle-icon
  color: $white
  font-size: $icon-area-font-size
  line-height: $icon-area-dimension
  margin-right: 0
  opacity: 0.5
  position: relative
  z-index: 2

%icon-circle-icon-dimensions
  height: $icon-area-dimension
  width: $icon-area-dimension

@mixin icon-circle-icon($main: 'i', $add-dimensions: 'i, .color-link')
  #{$main} 
    @extend %icon-circle-icon

  #{$add-dimensions} 
    @extend %icon-circle-icon-dimensions

%icon-color-circle
  left: 50%
  top: 0
  margin-left: -($icon-area-dimension/2)
  position: absolute
  +border-radius(100%)
  z-index: 1

@mixin icon-color-circle()
  @extend %icon-color-circle


@mixin fake-icon-circle-box($color, $icon: 'map-marker', $child: '.block-title')
  position: relative
  padding-top: rem-calc(100)

  &:before 
    content: " " 
    background: $color


  // construct child selector
  $child-select: '#{$child}:before'
  $child-select-other: '&:before, #{$child}:before'

  #{$child-select-other}
    +icon-color-circle()
    text-align: center

  // call icon styles
  +icon-circle-icon($child-select, $child-select-other)
  
  // icon
  #{$child}
    +icon-only($icon)





//***********************************
// Menu Styles
//
//***********************************

// Menu as non-menu, spread out a little
@mixin spreadout-menu()
  +list-clear

  li
    margin-bottom: rem-calc(10)

@mixin side-bar-section($levels)
  float: left
  margin-left: 0
  width: (100%)/$levels


@mixin side-bar-menu-dynamic($levels: 6, $wrapper: '.menu-block-wrapper', $active-parent: 'li.active-trail:not(.active)', $title: 'h4')
  max-width: 100%
  overflow: hidden

  #{$wrapper}
    //padding-right: ($levels - 1) * (100%)
    width: $levels*(100%)
    float: left
    +transition(all ease-in 0.3s)

    @for $i from 1 through ($levels)

      &.level_#{$i}
        margin-left: ($i) * (-100%)
    
    & > div
      +side-bar-section($levels)
    
    [data-menu-back]
      a
        +nice-icon(chevron-left)
        border: none



// Side bar menu styles
@mixin side-bar-menu($menu: 'ul.menu', $title: 'h2.block-title, h4', $active: 'a.active, li.active-trail a', $more-link: false, $highlight: '.highlighted a')
 
  #{$title}
    margin-top: rem-calc(10)

  h2.block-title
    +h(4)

  #{$menu}
    +side-nav

    li
      border-bottom: $side-nav-divider-size $side-nav-divider-style $side-nav-divider-color

      &:first-child
        border-top: $side-nav-divider-size $side-nav-divider-style $side-nav-divider-color

    #{$active}
      border-left-color: $gold

    #{$highlight}
      border-left-color: $yellow
      background: $yellow
      position: relative

      &:after 
        content: $fa-var-times
        @extend %icons-core-simple
        color: $gray-dark
        position: absolute
        right: rem-calc(10)

      &:hover
        color: $side-nav-link-color!important
        border-left-color: darken($yellow, 5%)
        background: darken($yellow, 5%)
    a
      border-left: 3px solid transparent
      padding: rem-calc(10 20 10 17)

  @if $more-link
    .more-link 
      text-align: left

      a
        border-left: 3px solid transparent
        line-height: $paragraph-line-height
        display: block
        padding: rem-calc(10 20 10 17)
        +f(alt-alt)
      


$main-menu-border-size: rem-calc(3)

// Main menu Link Style
@mixin  main-menu-link($color: $topbar-link-color, $color-hover: $topbar-link-color-hover, $border-color-hover: $gray)
  color: $color
  font-family: $topbar-link-font-family
  font-size: $topbar-link-font-size
  font-weight: $topbar-link-weight
  padding:  0
  border-top: $main-menu-border-size solid transparent
  background: $topbar-link-bg-hover
  height: $topbar-height
  text-transform: $topbar-link-text-transform
  line-height: $topbar-height - $main-menu-border-size
  display: inline-block

  &:hover
    background: $topbar-link-bg-hover
    color: $color-hover

// Main menu Active link style
@mixin  main-menu-link-active($color: $topbar-link-color-active, $color-hover: $topbar-link-color-active-hover)
  color: $color
  border-top-color: $color
  background: $topbar-link-bg-active

  &:hover
    background: $topbar-link-bg-active-hover
    border-top-color: darken($color, 10%)
    color: darken($color, 10%)

// Main menu stlyes
@mixin main-menu-style($container: 'li', $active: '.active, .active-trail')
  +list-clear

  #{$container}
    padding: 0
    display: block
    margin-bottom: rem-calc(5)

    a
      +main-menu-link()

    &#{$active}
      a
        +main-menu-link-active()

// Main menu in horizontal
@mixin main-menu-style-horizontal($include: false, $container: 'li', $active: '.active, .active-trail')
  @if $include
    +main-menu-style($container, $active)

  #{$container}
    display: inline-block

    a
      padding: 0 $topbar-link-padding


//***********************************
// Forms
//
//***********************************

@mixin big-form()
  +all-form-inputs(true)
    font-size: rem-calc(16)
    margin-bottom: rem-calc(10)
    padding: ($form-spacing * 1.5)  $form-spacing

  .form-textarea-wrapper, .fieldset-description
    margin-bottom: rem-calc(10)

  button
    +button-size($button-lrg)

@mixin dark-form()
  +all-form-inputs(true)
    background: rgba($white, 0.05)
    border: 0
    color: rgba($white, 0.5)

  button
    +button-style($blue)


@mixin sleek-form($dark: false, $big: false)
  label
    +e(hide)

  button
    float: right

  .grippie
    +e(hide)

  @if $dark
    +dark-form()

  @if $big
    +big-form()

@mixin spaced-out-form($border: false)
  @if $border
    border-top: common-border-val($gray-border)

  .form-type-radio, .form-type-checkbox
    margin-top: rem-calc(14)
    margin-bottom: rem-calc(14)

    label
      +f(alt-alt)
      //font-size: $h5-font-size

    input
      //margin-top: rem-calc(6)

    button
      margin-top: rem-calc(10) 

// search button replace
@mixin search-button($color: $gray, $size: 36px, $font: ($size*.5))
  +undo-button($color, darken($color, 10%))
  +icon-button-replace($fa-var-search, $size, $font)



//***********************************
// Calendar
//
//***********************************

@mixin calendar-box($first: '.date-display-single > *:first-child', $second: '.date-display-single > *:last-child')
  border: common-border-val($gray-border)
  text-align: center
  padding: rem-calc(12 0)
  position: relative
  +f(alt-alt)
  text-transform: uppercase

  &:before
    +before-as-image(block, top)
    background: $gold
    height: rem-calc(3)
    width: 100%
  
  #{$first}
    font-size: rem-calc(16)

  #{$second}
    font-size: rem-calc(36)
    padding: rem-calc(12 0 6 0)




//***********************************
// Responsive tables
// 
// restric
// http://dbushell.com/2012/01/05/responsive-tables-2/
//***********************************

@mixin mobile-tables($table-border: $gray, $min-height: 44px)
  display: block
  position: relative
  width: 100% 
  border-collapse: collapse 
  border-spacing: 0

  &.sticky-header
    display: none!important    

  thead,
  tbody
    border: 1px solid $table-border

  thead
    border-right: 0!important
    display: block 
    float: left
    max-width: 50%

    tr
      display: block

  tbody  
    border-left: 0!important
    display: block!important
    width: auto 
    position: relative 
    overflow-x: auto 
    white-space: nowrap

    tr  
      display: inline-block!important
      vertical-align: top

  tr
    border: none!important
    padding: 0!important 

  th,
  td
    font-size: ($table-row-font-size)!important
    margin: 0 
    min-height: $min-height
    padding: 0.7em!important
    vertical-align: top

  th
    display: block!important
    text-align: left 

    &, & > *
      +ellipsis

  td
    display: block!important