/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

/* [ GLOBALS ] */

a {
	color: #666666;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #990000;
}

a strong {
	color: #990000;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	/* Center Website IE */
	text-align: center;
	/* Background */
	background: url(https://www.baltimorecity.gov/css/images/bg.jpg) top center repeat-y;
}

p {
	margin: 0px 0px 10px 0px;
}

label {
	font-weight: bold;
	margin: 0px 5px 0px 0px;
}

hr {
	margin: 0px 0px 10px 0px;
}

dt {
	font-weight: bold;
	margin-bottom: 5px;
}

dd {
	margin: 0px 0px 10px 10px;
}

/* [ Class Library ] */

.payButton {
	height: 34px;
	padding: 0px 5px 0px 35px;
	/* All versions of IE need a padding hack for buttons */
	//padding: 0px 0px 0px 0px;
	border: 3px ridge #CCC;
	font-weight: bold;
	background: url(http://www.baltimorecity.govhttps://www.baltimorecity.gov/css/images/dollar_currency_sign_32.png) left no-repeat;
	background-color: #EAEAEA;
	cursor: pointer; 
}

span.new {
	font-weight: bold;
	color: #990000;
	margin: 0px 0px 5px 0px;
}

.odd {
	background: #f5f5f5;
}

.even {
	background: #fff;
}

.error, .requiredField {
	font-weight: bold;
	color: #900;
}

.success {
	font-weight: bold;
	color: #060;
}

.readMore {
	padding: 3px 10px;
	background: #FFFFFF;
	border: 2px dotted #CCCCCC;
	margin: 0px 0px 20px 0px;
	clear: both;
}

.justify {
	text-align: justify;
}

.lastNav {
	margin: 0 auto !important;
	border: none !important;
}

.border {
	border: 1px solid #000000;
}

ul.delimitedList li {
	border-bottom: 1px solid #ccc;
}

.imgLeft {
	float: left;
	margin: 0px 10px 10px 0px;
}

.imgRight {
	float: right;
	margin: 0px 0px 10px 10px;
}

.blockLink {
	display: block;
	position: relative;
}

.clear {
	clear: both;
}

.backnext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}

span.photoCaption {
	text-align: right !important;
	color: #666;
	padding: 10px 0px;
	font-style: italic;
}

.sideColumnContent {
	padding: 10px;
}

.closeButton {
	position: absolute;
	top: 0;
	right: 0;
	padding: 3px 3px 0px 0px;
}

.closeButton a {
	background: url(https://www.baltimorecity.gov/css/images/closeXP.gif) no-repeat;
	display: block;
	width: 16px;
	height: 16px;
}

.closeButton a span {
	display: none;
}

.closeButton a:hover {
	background: url(https://www.baltimorecity.gov/css/images/closeXPOn.gif) no-repeat;
}

.icon {
	margin: 0px 5px -3px 0px;
}

.formTable {
	border: none;
	margin: 20px 0px;
}

.formTable th {
	background: #eee;
	border-right: 1px solid #CCCCCC;
	font-size: 12px;
	text-align: left;
}

.formTable th, .formTable td {
	padding: 6px;
	border-bottom: 1px solid #CCCCCC;
}

.formTableHeading {
	font-size: 18px;
	font-weight: bold;
	text-transform: capitalize;
	text-align: left;
	color: #000;
	background: #FFF !important;
	border-bottom: 1px solid #333!important;
	border-right: none !important;
	padding: 6px 6px 6px 0px !important;
}

.messageContainer {
	background: #FFFFCC;
	border: 1px dashed #990000;
	padding: 5px 10px;
	text-align: left;
	font-weight: bold;
	margin-bottom: 10px;
}
.messageContainer2 {
	background: #f9d980;
	border: 1px dashed #990000;
	padding: 5px 10px;
	text-align: left;
	font-weight: bold;
	margin-bottom: 10px;
}

.videoPlayer320v2_Container {
	float: right;
	width: 353px;
}

/* [ Wrappers ] */

#wrapper {
	width: 888px;
	/* Center Website */
	margin: 0 auto;
	position: relative;
	text-align: left;
	border-right: 2px solid #FFFFFF;
	border-left: 2px solid #FFFFFF;
}

/* [ Headers ] */

#baltimoreHeader {
	height: 320px;
	background: #FFF;
	width: 888px;
	background: url(https://www.baltimorecity.gov/css/images/bg_baltimore_main3.jpg) no-repeat;
}

#headerHomeLink {
	position: absolute;
	top: 94px;
	left: 0;
}

#headerHomeLink a {
	display: block;
	width: 400px;
	height: 60px;
}

#headerHomeLink span {
	display: none;
}

#home #baltimoreHeader,
#policy #baltimoreHeader,
#ifest #baltimoreHeader,
#default #baltimoreHeader,
#faq #baltimoreHeader
{
	background: url(https://www.baltimorecity.gov/css/images/bg_baltimore_main3.jpg) no-repeat;
}




#mayor #header,
#mayor_gallery #header,
#speeches #header,
#dixon_report #header,
#cabinet #header,
#biography #header,
#administration #header,
#press #header,
#blueRibbon #header,
#fellows_home #header,
#fellows_overview #header,
#fellows_application #header,
#fellows_alumni #header,
#fellows_faq #header,
#fellows_contact #header
{
	background: url(https://www.baltimorecity.gov/css/images/bg_baltimore-mayor.jpg) no-repeat;
}

#visitor #header {
	background: url(https://www.baltimorecity.gov/css/images/bg_baltimore-visitor.jpg) no-repeat;
}

#government #header {
	background: url(https://www.baltimorecity.gov/css/images/bg_baltimore-government.jpg) no-repeat;
}

#maps #header
{
	background: url(/mapshttps://www.baltimorecity.gov/css/images/headerBackground.jpg) no-repeat;
}

#dpw #header
{
	background: url(https://www.baltimorecity.gov/css/images/bg_baltimore-dpw.jpg) no-repeat;
}

/* [ Date and Time ] */

#dateTime {
	float: right;
	font-weight: bold;
	text-align: center;
	width: 182px;
}

/* [ Main Navigation ] */

#mainNavigation {
	position: absolute;
	width: 700px;
	top: 154px;
	left: 0px;
	z-index: 4;
}

/* all lists */
#nav, #nav ul { 
	list-style: none;
}

#nav li a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	display: block;
	text-decoration: none;
	font-size: 12px;
	padding: 8px 12px 7px 12px;
	border-right: 1px solid #CE0000;
	font-weight: normal;
}

#nav li a:hover, #nav li a.mainNavActive {
	color: #FFFFFF;
	background: #990000;
}

#nav li ul li {
	clear: both;
}

#nav li ul li a {
	font-weight: normal;
	color: #990000;
	width: 160px;
	padding: 4px 10px;
	border-right: none;
	border-bottom: 1px solid #FFFFFF;
	background-image: none !important;
	background-color: #CCCCCC;
	margin: 0 !important;
}

#nav li ul li a:hover {
	color: #FFFFFF;
	background: #666666;
}

/* all list items */
#nav li { 
	float: left;
}

/* second-level lists */
#nav li ul { 
	position: absolute;
	background: #D7BFE7;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

/* third-and-above-level lists */
#nav li ul ul { 
	margin: -24px 0 0 180px;
}

#nav li:hover ul ul,
#nav li:hover ul ul ul,
#nav li.sfhover ul ul,
#nav li.sfhover ul ul ul
{
	left: -999em;
}

/* lists nested under hovered list items */
#nav li:hover ul,
#nav li li:hover ul,
#nav li li li:hover ul,
#nav li.sfhover ul,
#nav li li.sfhover ul,
#nav li li li.sfhover ul
{ 
	left: auto;
}

#nav li:hover, #nav li.hover {
    position: static;
}

/* [ Quick Links ] */

#quickLinksBox {
	position: relative;
	width: 155px;
	float: left;
	z-index: 3;
}

#quickLinksBox label {
	font-weight: bold;
	display: block;
	margin: 0px 0px 5px 0px;
}

#quickLinksBox #quickLinksInput {
	float: left;
}

#quickLinksInput {
	border: 1px solid #A5ACB2;
	width: 120px;
	padding: 1px 2px;
}

#quickLinksInput a {
	color: #000;
	font-size: 13px;
	display: block;
	font-weight: normal;
}

#quickLinksInput a:hover {
	color: #900;
}

#quickLinksDrop {
	background: #FFFFFF;
	position: absolute;
	top: 22px;
	left: 0px;
	border: 1px solid #CCCCCC;
	margin: -2px 0px 0px 0px;
}

#quickLinksDrop input {
	margin: 0px 5px -2px 0px;
}

#quickLinksDrop li {
	list-style: none;
}

#quickLinksDrop li a {
	border-bottom: 1px solid #CCCCCC;
	display: block;
	padding: 3px 10px;
	width: 122px;
}

#quickLinksDrop li a:hover {
	color: #000000;
	background: #EEEEEE;
}

/* [ Site Search ] */

#siteSearch {
	position: relative;
	width: 200px;
	float: left;
}

#searchQuery {
	margin: 0;
}

#siteSearch label {
	font-weight: bold;
	display: block;
	margin: 0px 0px 5px 0px;
}

#searchOptions {
	background: url(https://www.baltimorecity.gov/css/images/featureBG.jpg) repeat-x #EAEAEA;
	position: absolute;
	top: 22px;
	left: 0px;
	border: 1px solid #CCCCCC;
	width: 180px;
	padding: 5px 10px 10px 10px;
	margin: -2px 0px 0px 0px;
}

#searchOptions input {
	margin: 0px 5px -2px 0px;
}

#searchOptions #faqLink {
	padding: 8px;
	border: 1px solid #CCCCCC;
	margin: 5px 0px 0px 0px;
}


/* [ Search Bar ] */

#searchBar {
	margin: 255px 0px 0px 0px;
	float: left;
	padding: 15px;
	z-index: 3;
}

#searchBar select {
	width: 135px;
	margin: 0px 10px 0px 0px;
}

#searchBar select {
	float: left;
	margin: 0px 10px 0px 0px;
}

#searchBar #searchQuery {
	width: 130px;
	float: left;
}

input#searchButton {
	margin: 0px 0px 0px 10px;
}


/* [ Jump Menus ] */

.jumpMenu {
	padding: 5px 10px;
	background: #EAEAEA;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

/* [ Left Column ] */

#leftColumn {
	width: 175px;
	float: left;
	background: url(https://www.baltimorecity.gov/css/images/bg_leftNav.jpg) repeat-y;
}

.featuredLeftCol {
	text-align: center;
	margin: 0px 0px 10px 0px;
}

.featuredRightCol {
	text-align: center;
	margin: 0px 0px 10px 0px;
}

#rightColumn {
	width: 162px;
	float: right;
	margin: 0px 0px 0px 0px;
	border-top: 1px solid #999999;
	padding: 10px;
}

#mayorColumn {
	padding: 0px 0px 10px 0px;
}

#rightColumn img {
	margin: 0px 0px 10px 0px;
}

#rightColumn p {
	margin: 0px 10px 10px 10px;
}

#leftColumn h1 {
	background: #FFFFFF;
	padding: 5px 10px;
	color: #990000;
	text-transform: uppercase;
	font-size: 11px;
	text-align: left;
	margin: 3px 3px 0px 0px;
}

#rightColumn h1 {
	background: #CCCCCC;
	border-bottom: 1px solid #999999;
	color: #000000;
	padding: 5px 10px;
	text-transform: uppercase;
	font-size: 11px;
	text-align: left;
	margin: 0px 0px 10px 0px;
}

#rightColumn h2 {
	color: #000;
	text-transform: capitalize;
	font-size: 11px;
	text-align: left;
	margin: 0px 0px 5px 0px;
	padding: 0px 10px;
}

#rightColumn h2 a {
	display: block;
	padding: 3px;
	text-decoration: none;
	border-bottom: 1px dashed #999;
}

#rightColumn h2 a:hover {
	color: #fff;
	background: #999;
}

/* [ Page Tools - "Add This" ] */

#addThis {
	border-top: 1px solid #999999;
	padding: 10px 0px;
	margin-top: 10px;
	background: #eaeaea;
}

/* [ Left Navigation Menu ] */

#leftColumn li, .rightNav li {
	list-style: none;
}

#leftColumn li a, .rightNav li a {
	padding: 5px 10px;
	display: block;
	color: #666;
}

#leftColumn li a {
	width: 152px;
}

.rightNav li a {
	width: 140px;
	font-weight: normal;
}

#leftColumn li a:hover, .rightNav li a:hover {
	background: #999999;
	color: #FFFFFF;
}

.rightNav li a:hover strong {
	color: #FFFFFF;
}

/* [ Flyout Navigation Menu ] */

#flyoutNavLeft, #flyoutNavLeft ul { /* all lists */
	list-style: none;
	z-index: 1;
}
	
#flyoutNavLeft li { /* all list items */
	float: left;
	position: relative;
	clear: both;
}

#flyoutNavLeft li ul { /* second-level lists */
	position: absolute;
	left: -999em;
	margin-left: 172px;
	margin-top: -25px;
}

#flyoutNavLeft li ul ul { /* third-and-above-level lists */
	left: -999em;
}

#flyoutNavLeft li ul li a { /* [ Second Level Links ] */
	width: 133px;
	display: block;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	background-color: #666;
	padding: 5px 15px;
	border-bottom: 1px solid #fff;
}

#flyoutNavLeft li:hover, #flyoutNavLeft li.hover {
    position: static;
}

#flyoutNavLeft li:hover ul ul,
#flyoutNavLeft li:hover ul ul ul,
#flyoutNavLeft li.sfhover ul ul,
#flyoutNavLeft li.sfhover ul ul ul {
	left: -999em;
}

#flyoutNavLeft li:hover ul,
#flyoutNavLeft li li:hover ul,
#flyoutNavLeft li li li:hover ul,
#flyoutNavLeft li.sfhover ul,
#flyoutNavLeft li li.sfhover ul,
#flyoutNavLeft li li li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

/* [ I Want To Navigation Menu ] */

#iwtNav, #iwtNav ul { 
	list-style: none;
}

#iwtNav li a {
	color: #000;
	display: block;
	text-decoration: none;
	padding: 8px 12px 7px 12px;
	font-weight: normal;
}

#iwtNav li ul li {
	clear: both;
}

#iwtNav li ul li a {
	font-weight: bold;
	color: #000;
	width: 160px;
	padding: 4px 10px;
	border-bottom: 1px solid #FFF;
	background: #CCC;
	margin: 0 !important;
}

#iwtNav li ul li a.iwtLvlOne {
	background: url(https://www.baltimorecity.gov/css/images/icons/arrowRt.gif) right no-repeat #CCC;
}

#iwtNav li ul li a.iwtLvlOne:hover {
	color: #FFF;
	background: url(https://www.baltimorecity.gov/css/images/icons/arrowRt.gif) right no-repeat #999;
}

#iwtNav li ul li a:hover {
	color: #FFF;
	background: #999;
}


/* all list items */
#iwtNav li { 
	float: left;
}

/* second-level lists */
#iwtNav li ul { 
	position: absolute;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

/* third-and-above-level lists */
#iwtNav li ul ul { 
	margin: -24px 0 0 180px;
}

#iwtNav li:hover ul ul,
#iwtNav li:hover ul ul ul,
#iwtNav li.sfhover ul ul,
#iwtNav li.sfhover ul ul ul
{
	left: -999em;
}

/* lists nested under hovered list items */
#iwtNav li:hover ul,
#iwtNav li li:hover ul,
#iwtNav li li li:hover ul,
#iwtNav li.sfhover ul,
#iwtNav li li.sfhover ul,
#iwtNav li li li.sfhover ul
{ 
	left: auto;
}

#iwtNav li:hover, #iwtNav li.hover {
    position: static;
}

#iWantToMenu {
	position: relative;
	width: 155px;
	float: left;
	z-index: 3;
}

#iwtNav li a.iwtLink {
	border-top: 1px solid #A5ACB2;
	border-right: none;
	border-bottom: 1px solid #A5ACB2;
	border-left: 1px solid #A5ACB2;
	width: 140px;
	padding: 2px;
	background: url(https://www.baltimorecity.gov/css/images/expandDownUp.jpg) right no-repeat;
}

#iwtNav li a.iwtLink:hover {
	color: #000;
	background: url(https://www.baltimorecity.gov/css/images/expandDown.jpg) right no-repeat;
}

#iwtNav li a.pdf {
	background: url(https://www.baltimorecity.gov/css/images/pdfMenuIcon.gif) 155px no-repeat #CCC !important;
	padding: 5px 30px 5px 10px !important;
	width: 140px !important;
}

#iwtNav li a.pdf:hover {
	background: url(https://www.baltimorecity.gov/css/images/pdfMenuIcon.gif) 155px no-repeat #999 !important;
}

/* [ Home Page Highlight ] */

#homeHighlight {
	float: left;
	width: 509px;
}

#homeHighlightLeft {
	float: left;
	width: 160px;
}

#homeHighlightLeft h1 {
	float: left;
}

#homeHighlightRight {
	float: right;
	margin: 0px 0px 10px 15px;
	width: 327px;
}

#homeHighlightRight p {
	font-size: 11px;
	text-align: right;
	color: #666;
	text-align: right !important;
	font-style: italic;
	margin: 0px 0px 0px 0px !important;
	padding: 3px;
	width: 321px;
}

.highlightImage {
	float: right;
	margin: 0px 0px 10px 15px;
	width: 300px;
}

.highlightImage p {
	font-size: 11px;
	text-align: right;
	color: #666;
	text-align: right;
	font-style: italic;
	margin: 0px 0px 0px 0px !important;
	padding: 3px;
	width: 293px;
}

/* [ Services Menu ] */

#servicesMenu ul {
	margin: 10px 0px 0px 10px;
	color: #990000;
}

#servicesMenu li {
	list-style-type: square;
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 8px 0px;
}

#servicesMenu li a {
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	margin: 0;
	padding: 0;
	display: inline;
}

#servicesMenu li a:hover {
	color: #990000;
	text-decoration: underline;
	background: none;
}

/* [ Main Body Area ] */

#mainBodyContainer {
	z-index: 0;
	float: left;
	width: 511px;
	position: relative;
	padding: 0px 10px 10px 10px;
}

#mainBodyContainer p {
	text-align: justify;
}

#mainBodyContainer h1 {
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0px 10px 0px;
	color: #990000;
}

#mainBodyContainer h2 {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
}

#mainBodyContainer h3 {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
	text-align: center;
}

#mainBodyContainer h4 {
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	margin: 0px 0px 3px 0px;
	clear: both;
}

#mainBodyContainer ul {
	margin: 0px 0px 10px 20px;
}

#mainBodyContainer ol {
	margin: 0px 0px 10px 30px;
}

#mainBodyContainer li {
	margin: 0px 0px 8px 0px;
}

/* [ Footer ] */

#baltimoreFooter {
	clear: both;
	border-top: 1px solid #999999;
	font-size: 11px;
	text-align: center;
	padding: 10px;
	background: #FFFFFF;
}

#footerNav li {
	list-style: none;
	display: inline;
}

#footerNav li a {
	font-weight: normal;
	padding: 0px 8px;
	border-right: 1px solid #666666;
	text-decoration: none;
}

#baltimoreWebmaster {
	padding: 10px 0px;
}

/* [ Photo Gallery ] */

#gallery_thumbnails {
	position: relative;
	width: 508px;
}

.magnify {
	list-style: none;
	text-align: center;
}

.magnify a .preview {
	display: none;
}

.magnify a:hover .preview {
	display: block;
	position: absolute;
	top: -33px;
	left: -45px;
	z-index: 1;
}

.magnify img {
	padding: 2px;
	width: 145px;
	height: 105px;
	border: 1px solid #000000;
}

.magnify li {
	display: inline;
	float: left;
	margin: 3px;
	padding: 5px;
	position: relative;
}

.magnify .preview {
	border-color: #000;
	width: 200px;
	height: 150px;
}

/* [ Highlight Table ] */

#highlightTable {
	border-top: 2px solid #CCCCCC;
	clear: both;
	margin-bottom: 10px;
}

#highlightTable td {
	padding: 10px;
	vertical-align: top;
	border-bottom: 2px dashed #CCCCCC;
	background: url(https://www.baltimorecity.gov/css/images/highlight_table_row_bg.jpg) top repeat-x #EAEAEA;
}

#highlightTable td a {
	font-weight: normal;
	padding: 5px;
	display: block;
}

#highlightTable td a:hover {
	color: #000000;
	background: #CCCCCC;
}


/* [ Highlight Table CLASS 2 ] */

.highlightTable2 {
	border-top: 2px solid #669966;
	clear: both;
}

.highlightTable2 td {
	padding: 10px;
	vertical-align: top;
	border-bottom: 2px dashed #669966;
	background: url(https://www.baltimorecity.gov/css/images/highlight_table_rowgreen_bg.jpg) top repeat-x #EAEAEA;
}

.highlightTable2 td a {
	color: #666;
}

.highlightTable2 td a:hover {
	color: #000;	
	
}

.highlightTable2 h2 {
color: #006600;

}


/* [ Highlight Table CLASS ] */

.highlightTable {
	border-top: 2px solid #CCCCCC;
	clear: both;
}

.highlightTable td {
	padding: 10px;
	vertical-align: top;
	border-bottom: 2px dashed #CCCCCC;
	background: url(https://www.baltimorecity.gov/css/images/highlight_table_row_bg.jpg) top repeat-x #EAEAEA;
}

.highlightTable td a {
	color: #666;
}

.highlightTable td a:hover {
	color: #000;
}

/* [ Baltimore Headlines ] */

.baltimoreHeadlinesContainer {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
	background: #FFF;
}

h1.boxTopHeading {
	clear: both;
	background: #eaeaea;
	padding: 5px 10px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	margin-bottom: 0px !important;
}

/* [ Content Tables ] */

#contentTable {
	margin: 0 auto;
}

#contentTable td {
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #CCCCCC;
}

#contentTableservices td {
	padding: 3px;
	vertical-align: top;
	border-bottom: 1px solid #CCCCCC;
}

.newsTable {
	margin: 0 auto;
}

.newsTable td, .newsTable th {
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #CCCCCC;
	text-align: left;
}

/* [ Content Table Classes ] */

.contentTable {
	margin: 0 auto;
}

.contentTable td {
	padding: 10px;
}

.contentTableWithBorders {
	margin: 0px auto 10px auto;
}

.contentTableWithBorders td {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	text-align: left;
}

.contentTableWithBorders th {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	background: #f5f5f5;
	text-align: left;
}

.altTable1 {
	margin: 0px 0px 20px 0px;
}

.altTable1 th {
	padding: 5px 5px;
}

.altTable1 td {
	padding: 3px 5px;
}

.altTable1 th {
	background: #999;
	font-weight: bold;
	border-bottom: 1px solid #666;
}

/* [ Table Totals Row ] */

tr.sortbottom td {
	border-top: 1px solid #666;
}

/* [ Section Navigation Menu ] */

.navContainer {
	float: left;
	background: #666666;
	width: 508px;
	margin: 0px 0px 10px 0px;
	background: url(https://www.baltimorecity.gov/css/images/subNavTab.jpg) repeat-x;
}

.sectionNavigation {
	width: 508px;
	padding: 0px 0px 10px 0px;
	position: relative;
}

.sectionNavigation ul, .sectionNavigation li {
	margin: 0px 0px 0px 0px !important;
}

.sectionNavigation li {
	list-style: none;
	display: inline;
}

.sectionNavigation li a {
	text-decoration: none !important;
	color: #fff !important;
	padding: 5px 10px;
	background: url(https://www.baltimorecity.gov/css/images/subNavTab.jpg) repeat-x #666 !important;
	border-right: 1px solid #666;
	font-weight: normal;
	display: block;
	float: left;
}

.sectionNavigation li a:hover {
	background: url(https://www.baltimorecity.gov/css/images/subNavTabOv.jpg) repeat-x #666 !important;
}

/* [ PDF menu icon - for PDF menu items ] */

li a.pdf {
	background: url(https://www.baltimorecity.gov/css/images/pdfMenuIcon.gif) 150px no-repeat;
	padding: 5px 30px 5px 10px !important;
	width: 132px !important;
}

li a:hover.pdf {
	background: url(https://www.baltimorecity.gov/css/images/pdfMenuIcon.gif) 150px no-repeat #999999 !important;
}

li a.pdfRight {
	background: url(https://www.baltimorecity.gov/css/images/pdfMenuIcon.gif) 140px no-repeat;
	padding: 5px 30px 5px 10px;
	width: 120px;
}

li a:hover.pdfRight {
	background: url(https://www.baltimorecity.gov/css/images/pdfMenuIcon.gif) 140px no-repeat #999999 !important;
}

/* [ ZIP menu icon - for ZIP menu items ] */

li a.zip {
	background: url(https://www.baltimorecity.gov/css/images/zipMenuIcon.gif) 150px no-repeat;
	padding: 5px 30px 5px 10px;
	width: 132px;
}

li a:hover.zip {
	background: url(https://www.baltimorecity.gov/css/images/zipMenuIcon.gif) 150px no-repeat #999999 !important;
}

li a.zipRight {
	background: url(https://www.baltimorecity.gov/css/images/zipMenuIcon.gif) 140px no-repeat;
	padding: 5px 30px 5px 10px;
	width: 120px;
}

li a:hover.zipRight {
	background: url(https://www.baltimorecity.gov/css/images/zipMenuIcon.gif) 140px no-repeat #999999 !important;
}

/* [ Icon Lists ] */

ul.pdfList, ul.pdfList li,
ul.zipList, ul.zipList li,
ul.docList, ul.docList li,
ul.linkList, ul.linkList li,
ul.anchorList, ul.anchorList li,
ul.xlsList, ul.xlsList li {
	margin: 0 !important;
	padding: 0 !important;
}

ul.pdfList li,
ul.zipList li,
ul.docList li,
ul.linkList li,
ul.anchorList li,
ul.xlsList li
{
	list-style: none;
	clear: both;
}

ul.pdfList li a,
ul.zipList li a,
ul.docList li a,
ul.linkList li a,
ul.anchorList li a,
ul.xlsList li a
{
	color: #666 !important;
	text-decoration: none !important;
	clear: both !important;
	padding: 5px 5px 5px 25px !important;
	display: block;
}

ul.pdfList li a:hover,
ul.zipList li a:hover,
ul.docList li a:hover,
ul.linkList li a:hover,
ul.anchorList li a:hover,
ul.xlsList li a:hover
{
	color: #000 !important;
}

ul.linksList, ul.linksList li {
	margin: 0 !important;
	padding: 0 !important;
}

ul.linksList li {
	list-style: none !important;
	clear: both;
}

ul.linksList li a {
	color: #666 !important;
	text-decoration: none !important;
	clear: both;
	padding: 5px 5px 5px 25px !important;
	display: block;
}

ul.linksList li a:hover {
	color: #000 !important;
}

/* [ Link Lists Icons ] */

a.pdfLink {
	background: url(https://www.baltimorecity.gov/css/images/pdfMenuIcon.gif) 4px no-repeat;
}

a.pdfLink:hover {
	background: url(https://www.baltimorecity.gov/css/images/pdfMenuIcon.gif) 4px no-repeat #CCCCCC !important;
}

a.normalLink {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_Window.gif) 4px no-repeat;
}

a.normalLink:hover {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_Window.gif) 4px no-repeat #CCCCCC !important;
}

a.externalLink {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_Window.gif) 4px no-repeat;
}

a.externalLink:hover {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_Window.gif) 4px no-repeat #CCCCCC !important;
}

a.zipLink {
	background: url(https://www.baltimorecity.gov/css/images/zipMenuIcon.gif) 4px no-repeat;
}

a.zipLink:hover {
	background: url(https://www.baltimorecity.gov/css/images/zipMenuIcon.gif) 4px no-repeat #CCCCCC !important;
}

a.docLink {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_Word.gif) 4px no-repeat;
}

a.docLink:hover {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_Word.gif) 4px no-repeat #CCCCCC !important;
}

a.xlsLink {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_xls.gif) 4px no-repeat;
}

a.xlsLink:hover {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_xls.gif) 4px no-repeat #CCCCCC !important;
}

a.anchorLink {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_DownArrow.gif) 4px no-repeat;
}

a.anchorLink:hover {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_DownArrow.gif) 4px no-repeat #CCCCCC !important;
}

/* [ Localization Icons ] */

a.loc_enLink {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_USA.gif) 4px no-repeat;
}

a.loc_enLink:hover {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_USA.gif) 4px no-repeat #CCCCCC !important;
}

a.loc_esLink {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_ES.gif) 4px no-repeat;
}

a.loc_esLink:hover {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_ES.gif) 4px no-repeat #CCCCCC !important;
}

a.loc_ruLink {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_RU.gif) 4px no-repeat;
}

a.loc_ruLink:hover {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_RU.gif) 4px no-repeat #CCCCCC !important;
}

a.loc_krLink {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_KR.gif) 4px no-repeat;
}

a.loc_krLink:hover {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_KR.gif) 4px no-repeat #CCCCCC !important;
}

/* [ PDF List ] */

ul.pdfList li a {
	background: url(https://www.baltimorecity.gov/css/images/pdfMenuIcon.gif) 4px no-repeat;
}
ul.pdfList li a:hover {
	background: url(https://www.baltimorecity.gov/css/images/pdfMenuIcon.gif) 4px no-repeat #CCCCCC !important;
}

/* [ ZIP List ] */

ul.zipList li a {
	background: url(https://www.baltimorecity.gov/css/images/zipMenuIcon.gif) 4px no-repeat;
}
ul.zipList li a:hover {
	background: url(https://www.baltimorecity.gov/css/images/zipMenuIcon.gif) 4px no-repeat #CCCCCC !important;
}

/* [ DOC List ] */

ul.docList li a {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_Word.gif) 4px no-repeat;
}
ul.docList li a:hover {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_Word.gif) 4px no-repeat #CCCCCC !important;
}

/* [ Link List ] */

ul.linkList li a {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_Window.gif) 4px no-repeat;
}
ul.linkList li a:hover {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_Window.gif) 4px no-repeat #CCCCCC !important;
}

/* [ XLS List ] */

ul.xlsList li a {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_xls.gif) 4px no-repeat;
}
ul.xlsList li a:hover {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_xls.gif) 4px no-repeat #CCCCCC !important;
}

/* [ Anchor List ] */

ul.anchorList li a {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_DownArrow.gif) 4px no-repeat;
}
ul.anchorList li a:hover {
	background: url(https://www.baltimorecity.gov/css/images/icons/icon_DownArrow_Ov.gif) 4px no-repeat #CCCCCC !important;
}

/* [ News Flash ] */

#newsFlash {
	position: relative;
	margin: 0px 0px 0px 0px;
}

#newsFlash p {
	text-align: justify;
}

#newsFlash h1 {
	text-align: left;
}

/* [ Photo Gallery ] */

#gallery_thumbnails {
	position: relative;
	width: 508px;
}

#gallery_thumbnails h2 {
	clear: both;
}

.magnify {
	list-style: none;
}

.magnify a .preview {
	display: none;
}

.magnify a:hover .preview {
	display: block;
	position: absolute;
	top: -33px;
	left: -45px;
	z-index: 1;
}

.magnify img {
	padding: 2px;
	height: 105px;
	border: 1px solid #000000;
}

.magnify li {
	display: inline;
	float: left;
	margin: 3px;
	padding: 5px;
	position: relative;
}

.magnify .preview {
	border-color: #000;
	width: 200px;
	height: 150px;
}

/* [ Article Photo ] */

div.articlePhoto {
	float: right;
	margin: 0px 0px 10px 20px;
	border: 1px solid #000;
}

span.caption {
	clear: both;
	display: block;
	padding: 4px 0px;
	float: right;
	color: #000000;
	font-weight: bold;
}

/* [ Home Page Alerts ] */

#codeRedAlert {
	border: 2px solid #990000;
	background: url(https://www.baltimorecity.gov/css/images/heatAlertBackground.jpg) top left no-repeat #ff7800;
	margin: 0px 0px 10px 0px;
	padding: 80px 13px 13px 13px;
	text-align: left;
	color: #FFFFFF;
	width: 132px;
}

#codeRedAlert a {
	color: #FFFF00;
}

#codeRedAlert a:hover {
	color: #FFFFFF;
}

#newsAlert {
	background: url(https://www.baltimorecity.gov/css/images/alert.jpg) 8px no-repeat #FFFFFF;
	float: left;
	width: 511px;
}

#newsAlertTitle {
	float: left;
	padding: 2px 0px;
}

#newsAlertContent {
}

#newsAlertContent a {
	background: #990000;
	padding: 5px 8px;
	font-weight: bold;
	color: #FFFFFF;
	display: block;
	width: 493px;
}

#newsAlertContent a:hover {
	color: #FFFF00;
}

#alertInfo {
	clear: both;
	border-right: 1px solid #990000;
	border-bottom: 1px solid #990000;
	border-left: 1px solid #990000;
	width: 507px;
}

#newsAlertDPW {
	background: url(https://www.baltimorecity.gov/css/images/alert.jpg) 8px no-repeat #FFFFFF;
	float: left;
	width: 360px;
}

#newsAlertTitleDPW {
	float: left;
	padding: 2px 0px;
}

#newsAlertContentDPW {
}


#newsAlertContentDPW a {
	background: #990000;
	padding: 5px 8px;
	font-weight: bold;
	color: #FFFFFF;
	display: block;
	width: 360px;
}

#newsAlertContentDPW a:hover {
	color: #FFFF00;
}

#alertInfoDPW {
	clear: both;
	border-right: 1px solid #990000;
	border-bottom: 1px solid #990000;
	border-left: 1px solid #990000;
	width: 360px;
}

/* [ Top Stories ] */

#home ul#topStories,
#communications ul#topStories,
#faq ul#topStories
{
	margin: 0;
}

#home #topStories li,
#communications #topStories li,
#faq #topStories li
{
	list-style: none;
}

#home #topStories li a span,
#communications #topStories li a span,
#faq #topStories li a span
{
	display: block;
}

#home ul#topStories li a,
#communications ul#topStories li a,
#faq ul#topStories li a
{
	padding: 5px 10px;
	display: block;
	width: 140px;
	font-weight: normal;
}

#home ul#topStories li a:hover,
#communications ul#topStories li a:hover,
#faq ul#topStories li a:hover
{
	background: #999999;
	color: #FFFFFF;
}

#home ul#topStories li a:hover strong,
#communications ul#topStories li a:hover strong,
#faq ul#topStories li a:hover strong
{
	background: #999999;
	color: #FFFFFF;
}

/* [ Top Stories News Page ] */

#press ul#topStories {
	margin: 20px 0px 10px 0px;
}

#press #topStories li {
	list-style: none;
	display: block;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #CCCCCC;
}

#press #topStories li a span {
	display: block;
	padding: 0px 10px;
}

#press ul#topStories li a {
	padding: 10px;
}

/* [ Top Stories CLASS ] */

ul.topStories {
	margin: 20px 0px 10px 0px;
}

.topStories li {
	list-style: none;
	display: block;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #CCCCCC;
}

.topStories li a span {
	display: block;
	padding: 0px 10px;
}

.topStories li a {
	padding: 10px;
}

/* [ Expand Div Button ] */

.expandButton, .searchGoButton {
	float: left;
}

.expandButton a {
	background: url(https://www.baltimorecity.gov/css/images/expandDownUp.jpg) right no-repeat #CCCCCC;
	width: 18px;
	height: 20px;
	display: block;
	cursor: default;
}

.expandButton a:hover {
	background: url(https://www.baltimorecity.gov/css/images/expandDown.jpg) right no-repeat #CCCCCC;
}

.expandButton a span, .searchGoButton a span {
	display: none;
}

.searchGoButton a {
	background: url(https://www.baltimorecity.gov/css/images/go_Up.jpg) right no-repeat #CCCCCC;
	width: 18px;
	height: 20px;
	display: block;
	cursor: default;
}

.searchGoButton a:hover {
	background: url(https://www.baltimorecity.gov/css/images/go_Down.jpg) right no-repeat #CCCCCC;
}

/* [ Podcast Table ] */

.podCastTable {
	margin: 0px 0px 20px 0px;
}

/* [ Right Column Lists ] */

.rightList {
	margin: 0px 10px;
}

.rightList li {
	list-style: none;
	margin: 0px 0px 10px 0px;
}

/* [ Upload Forms ] */

.uploadForm {
	border: 1px dashed #CCC;
	background: #EEE;
	padding: 15px;
}

.uploadForm input.text, .uploadForm .submitButton {
	font-size: 11px;
}

.uploadForm input.text {
	background: #FFF;
	border: 1px solid #CCC;
}

/* [ Content Blocks ] */

.contentBlock1 {
	margin: 0px 0px 10px 0px;
	border-bottom: 1px solid #ccc;
	position: relative;
	width: 511px;
	padding: 0px 0px 10px 0px;
	float: left;
}

/* [ Heading Blocks ] */

.headingBlock1 {
	clear: both;
	padding: 10px;
	margin: 20px 0px;
	border-bottom: 1px solid #ccc;
	background: #f5f5f5;
}

.headingBlock1 h1 {
	margin: 0 !important;
	font-size: 20px !important;
}

/* [ Jump Top Link ] */

span.topLink a {
	font-weight: bold !important;
	color: #666 !important;
	text-decoration: none !important;
	font-size: 11px;
	float: right;
	padding: 2px 3px;
	background: #f5f5f5;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

/* [ Two Row Style <li> ] */

ul.twoRowLi li a {
	background-position: 4px 7px !important;
}

ul.twoRowLi li a:hover {
	background-position: 4px 7px !important;
}

ul.twoRowLi li strong {
	display: block;
}

/* [ Accessibility Styles ] */

.accessibleMenu {
	display: none;
}

/* [ City Services Styles ] */


/* [ Miscellanious Bill Pay ] */

#cobweb_miscBill {
	background: #EAEAEA;
}

.cobweb_searchResults {

}

.cobweb_Instructions {
	
}

.cobweb_billDetail {
	
}

.cobweb_formButton {
	font-size: 12px;
	margin: 15px 0px;
}

.cobweb_linkButton {
	
}

.cobweb_formTextInput {
	font-size: 11px;
}

#ctl00_ContentPlaceHolder2_Test1_Label2, #ctl00_ContentPlaceHolder2_Test1_LabeOPC2 {
	display: block;
	margin: 5px 0px 10px 0px;
}

#ctl00_ContentPlaceHolder2_Test1_pnlPayment {
	margin: 20px
}

/* [ Newsletter Sign Up ] */

.signupframe {
	margin: 0px 10px;
	border: none;
}

.signupframe input {
	margin: 0px 0px 3px 0px;
	width: 138px;
}

/* [ Dynamic Data Table ] */

.dataTable {
	border: none;
	width: 100%;
	margin-bottom: 10px;
}

.dataTable th, .dataTable td {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	text-align: left;
	vertical-align: top;
}

.dataTable th {
	background: #eee;
	white-space: nowrap;
}

/* [ I Want To Navigation Menu ] */

#iwtNav, #iwtNav ul { 
	list-style: none;
}

#iwtNav li a {
	color: #000;
	display: block;
	text-decoration: none;
	padding: 8px 12px 7px 12px;
	font-weight: normal;
}

#iwtNav li ul li {
	clear: both;
}

#iwtNav li ul li a {
	font-weight: bold;
	color: #000;
	width: 160px;
	padding: 4px 10px;
	border-bottom: 1px solid #FFF;
	background: #C;
	margin: 0 !important;
}

#iwtNav li ul li a.iwtLvlOne {
	background: url(https://www.baltimorecity.gov/css/images/icons/arrowRt.gif) 168px no-repeat #CCC;
}

#iwtNav li ul li a.iwtLvlOne:hover {
	color: #FFF;
	background: url(https://www.baltimorecity.gov/css/images/icons/arrowRt.gif) 168px no-repeat #666;
}

#iwtNav li ul li a:hover {
	color: #FFF;
	background: #666;
}

/* [ shade background ] */

#shader {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 0px;
	height: 0%;
	background-color: #000;
	/* Set opacity to zero to avoid a flicker before Effect loads */
	-moz-opacity: 0.0;
	opacity:.0;
	filter: alpha(opacity=0);
}

/* all list items */
#iwtNav li { 
	float: left;
}

/* second-level lists */
#iwtNav li ul { 
	position: absolute;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

/* third-and-above-level lists */
#iwtNav li ul ul { 
	margin: -24px 0 0 180px;
}

#iwtNav li:hover ul ul,
#iwtNav li:hover ul ul ul,
#iwtNav li.sfhover ul ul,
#iwtNav li.sfhover ul ul ul
{
	left: -999em;
}

/* lists nested under hovered list items */
#iwtNav li:hover ul,
#iwtNav li li:hover ul,
#iwtNav li li li:hover ul,
#iwtNav li.sfhover ul,
#iwtNav li li.sfhover ul,
#iwtNav li li li.sfhover ul
{ 
	left: auto;
}

#iwtNav li:hover, #iwtNav li.hover {
    position: static;
}

#iWantToMenu {
	position: relative;
	width: 155px;
	float: left;
}

#iwtNav li a.iwtLink {
	border-top: 1px solid #A5ACB2;
	border-right: none;
	border-bottom: 1px solid #A5ACB2;
	width: 130px;
	padding: 2px;
	background: url(https://www.baltimorecity.gov/css/images/expandDownUp.jpg) right no-repeat #fff;
}

#iwtNav li a.iwtLink:hover {
	color: #000;
	background: url(https://www.baltimorecity.gov/css/images/expandDown.jpg) right no-repeat #fff;
}

#iwtNav li a.pdf {
	background: url(https://www.baltimorecity.gov/css/images/pdfMenuIcon.gif) 155px no-repeat #CCC !important;
	padding: 5px 30px 5px 10px !important;
	width: 140px !important;
}

#iwtNav li a.pdf:hover {
	background: url(https://www.baltimorecity.gov/css/images/pdfMenuIcon.gif) 155px no-repeat #666 !important;
}

#iwtNav li a.mailLink {
	background: url(https://www.baltimorecity.gov/css/images/emailMenuIcon.gif) 155px no-repeat #CCC !important;
	padding: 5px 30px 5px 10px !important;
	width: 140px !important;
}

#iwtNav li a.mailLink:hover {
	background: url(https://www.baltimorecity.gov/css/images/emailMenuIcon.gif) 155px no-repeat #666 !important;
}

/* [ Internet Explorer Upgrade Alert ] */

#browserAlert {
	background: url(https://www.baltimorecity.gov/css/images/alert.jpg) 15px 15px no-repeat #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 818px;
	padding: 10px 20px 10px 50px;
	font-weight: normal;
	font-size: 11px;
	-moz-opacity: 0.0;
	opacity:.0;
	filter: alpha(opacity=0);
}

#browserAlert strong {
	color: #FF0000;
}

#browserAlert p {
	margin-bottom: 0px;
}

#browserAlert a {
	text-decoration: underline;
	color: #FF0000;
}

#buMenu {
	margin: 5px 0px 0px 0px;
}

#buMenu ul {
	list-style: none;
}

#buMenu ul li {
	display: inline;
	margin: 0px 10px 0px 0px;
}

/* [ Sublink color for Census pages ] */
.yellow {
color:#CC9900;
}
