
// How do I landing page
// ---------------------------------------------------------------------------- 
.page-answers

  .header-region-right
    .block-balt-apachesolr-balt-search-form
      display: none

  .highlight
    margin-bottom: $panel-margin-bottom*2

    .block

    .block-balt-apachesolr
      margin-bottom: 0

    form
      input[type="text"]
        +big-input()

    #search-form .form-submit
      top: rem-calc(6)


  .block-bean-citywide-faq-top-searches
    ul
      margin-bottom: 0


    h4
      margin-bottom: $header-bottom-margin


.vocabulary-faq-category.view-mode-teaser
  h3
    margin-bottom: .2em

    a
      +c(link-header)

  ul
    +list-clear

  .more-link
    margin-top: .5em


    

// How do I category pages
// ---------------------------------------------------------------------------- 

.view-faq-home.view-display-id-block_1
  +side-bar-menu('.item-list ul, .block-bean ul', '.block-title', 'li.active a')

  .item-list ul
    padding-top: 0

.view-faq-list
  .views-exposed-widgets
    display: none



// *
// * Media Queries
// *
// ******************************************************


+respond($small-only)
  .vocabulary-faq-category.view-mode-full
    margin
    width: 100%

    .group-content
      +panel($gray-lighter)

    .item-list ul
      padding-bottom: 0!important

+respond($medium-up)

  // How do I landing page
  // ---------------------------------------------------------------------------- 
  .page-answers

    .highlight
      +clearfix(false)

      .block:nth-child(2n)
        +grid-column(7)

      .block:nth-child(2n + 1)
        +grid-column(5)


+respond($large-up)

  // How do I landing page
  // ---------------------------------------------------------------------------- 
  .page-answers
    .highlight
      .block:nth-child(2n),
      .block:nth-child(2n + 1)
        width: grid-calc(6, 12)