

.front


// Main Content
// ----------------------------------------------------------------------------

.front

  ul.breadcrumbs
    +e(hide)

  .l-main
    padding-top: rem-calc(7)

  .main
    padding-top: rem-calc(10)

  
  &:not(.domain-main)
    .block-views-news-block,
    .block[class$="featured-programs"]
      +block-with-top-border()

    .l-content-bottom-1
      +nice-row-border($column-gutter/2, $small-main-block-spacing/2, 1px solid $gray, top, hidden)



// Uber front
// ----------------------------------------------------------------------------

.front.domain-main

  
  .l-featured

    // Hide border
    &:after
      +e(hide)

  .l-main
    padding-bottom: 0

  // unset main wrapper width
  #dnn_ContentPane
    background: $gray-lighter
    max-width: 100%

  .block-views-news-block-4
    +block-with-top-border()

  .l-content-bottom-triple
    //max-width: $row-width
    +grid-row()

    .block
      margin-bottom: rem-calc(20)

  .view-display-id-block_front_mayor
    .more-link
      text-align: left

      a
        +f(alt-alt)

  .l-content-bottom-1
    background: $white

    &:before
      display: none

  .content-bottom-full
    //max-width: $row-width
    //padding: $medium-main-spacing 0
    +grid-row()
    float: none
    padding-left: 0
    padding-right: 0

    & > *
      +column-padding()

  .l-triptych
    +side-bar-menu('.item-list ul', '.block-title', 'li.active a', true)

    .block-title
      text-align: center

  .triptych-first .block
    +fake-icon-circle-box($red, 'map-marker', '.block-title', small)

  .triptych-middle .block
    +fake-icon-circle-box($blue, 'map-marker', '.block-title', small)

  .triptych-last .block
    +fake-icon-circle-box($orange, 'map-marker', '.block-title', small)


.block-bean-front-mayor-links
  .block-title
    text-align: center

  ul 
    +spreadout-menu()





// *
// * Media Queries
// *
// ******************************************************

+respond($medium-up)
  
  // Main Content
  // ----------------------------------------------------------------------------

  // center main in columns
  .front .medium-8.main
    margin-left: 0
    width: grid-calc(9, 12)

  .front

    &:not(.domain-main)

      .block-views-news-block
        +block-with-top-border(medium)

      .block[class$="featured-programs"]
        +block-with-top-border(medium, false)

      .l-content-bottom-1
        &:before
          margin-top: $medium-main-block-spacing/2

  // Uber front
  // ----------------------------------------------------------------------------
  
  .front.domain-main

    .block-views-news-block-4
      +block-with-top-border()

    .content-bottom-triple-left
      padding-right: rem-calc(35)
      width: grid-calc(5, 12)

    .content-bottom-triple-center
      z-index: 1
      padding-left: rem-calc(35)
      padding-right: rem-calc(35)
      margin-right: rem-calc(-210)
      width: rem-calc(210)

    .content-bottom-triple-right
      padding-left: rem-calc(210) + rem-calc(35)
      width: grid-calc(7, 12)
    

