

.front


// Main Content
// ----------------------------------------------------------------------------

.front
  ul.breadcrumbs
    +e(hide)

  .main
    padding-top: $header-bottom-margin


// *
// * Media Queries
// *
// ******************************************************

+respond($medium-up)

  // Main Content
  // ----------------------------------------------------------------------------

  .front

  // center main in columns
  .front .medium-8.main
    margin-left: 0
    width: grid-calc(9, 12)