


// Just Wrapper 
.field-collection-item-field-link-collection,
.vocabulary-event-category.view-mode-teaser,
.vocabulary-faq-category.view-mode-teaser
  position: relative
  text-align: center
  margin-bottom: $small-region-pad-large

  &:hover,
  &.active

    i 
      opacity: 1


// Wrapper as full link
.field-collection-item-field-link-collection,
.vocabulary-event-category.view-mode-teaser
  cursor: pointer
  +c(link-header-full)
  
  .field-name-field-link
    line-height: 1.4
    padding-top: $paragraph-margin-bottom


// Icon section
.circle-icon
  +icon-circle-icon()
  

.color-link
  +icon-color-circle()


// Animated hover actions
.field-collection-item-field-link-collection,
.vocabulary-event-category.view-mode-teaser,
.vocabulary-faq-category.view-mode-teaser
  &:hover,
  &.active

    .circle-icon
      margin-top: rem-calc(-8)
      padding-bottom: rem-calc(8)

  .circle-icon
    display: block
    +transition(all ease-in 0.05s)
    position: relative


// Side by side views
// --------------------------

.vocabulary-event-category.view-mode-teaser,
.vocabulary-faq-category.view-mode-teaser
  +nice-row-border($column-gutter/2, rem-calc(22), 1px solid $gray, bottom, hidden)
  
  .group-left, .group-right

  // right side
  .group-right
    text-align: left

  i
    margin-left: rem-calc(1)


// Align text vertically
.vocabulary-event-category.view-mode-teaser
  .group-right
    & > div
      display: table
      min-height: rem-calc(80)

    & > div > *
      display: table-cell
      vertical-align: middle

  



// *
// * Media Queries
// *
// ******************************************************

+respond($medium-up)

  // Side by side views
  // --------------------------

  .vocabulary-event-category.view-mode-teaser
    
    .group-left, .group-right
      //min-height: rem-calc(120)