
       


// Just Wrapper 
.field-collection-item-field-link-collection,
.vocabulary-event-category.view-mode-teaser,
.vocabulary-faq-category.view-mode-teaser,
.vocabulary-payment-type.view-mode-teaser,
.node-program.node-teaser
  position: relative
  text-align: center

  &:hover,
  &.active

    i 
      opacity: 1


// Color Header links black
.field-collection-item-field-link-collection,
.vocabulary-event-category.view-mode-teaser,
.vocabulary-faq-category.view-mode-teaser,
.vocabulary-payment-type.view-mode-teaser
  h3, h4
    a 
      +c(link-header)


// Wrapper as full link
.field-collection-item-field-link-collection,
.vocabulary-event-category.view-mode-teaser
  cursor: pointer
  +c(link-header-full)
  margin-bottom: $small-region-pad-large
  
  .field-name-field-link
    line-height: 1.4
    padding-top: $paragraph-margin-bottom


// Icon section
.circle-icon
  +icon-circle-icon()
  

.color-link
  +icon-color-circle()


// Animated hover actions
.field-collection-item-field-link-collection,
.vocabulary-event-category.view-mode-teaser,
.vocabulary-faq-category.view-mode-teaser,
.vocabulary-payment-type.view-mode-teaser,
.node-program.node-teaser
  &:hover,
  &.active

    .circle-icon
      margin-top: rem-calc(-8)
      padding-bottom: rem-calc(8)

  .circle-icon
    display: inline-block
    +transition(all ease-in 0.05s)
    position: relative


// Side by side views
// --------------------------

.vocabulary-event-category.view-mode-teaser,
.vocabulary-faq-category.view-mode-teaser,
.vocabulary-payment-type.view-mode-teaser,
.node-program.node-teaser

  .group-left
    margin-bottom: $small-region-pad-large
  
  .group-left, .group-right

  // right side
  .group-right
    text-align: left

  i
    margin-left: rem-calc(1)


// Align text vertically
.vocabulary-event-category.view-mode-teaser
  .group-right
    & > div
      display: table
      min-height: rem-calc(80)

    & > div > *
      display: table-cell
      vertical-align: middle

  



// *
// * Media Queries
// *
// ******************************************************

+respond($menu-only)

  // Home page icons are 7 across now instead of 6

  .seven-across
    .medium-12-7
      margin-bottom: $small-region-pad-large
      width: grid-calc(3, 12)

      &:nth-child(5)
        clear: left
        margin-left: grid-calc(1.5, 12)



+respond($medium-up)

  // Wrapper as full link
  .field-collection-item-field-link-collection,
  .vocabulary-event-category.view-mode-teaser
    margin-bottom: 0

  // Side by side views
  // --------------------------

  .vocabulary-event-category.view-mode-teaser,
  .vocabulary-faq-category.view-mode-teaser,
  .vocabulary-payment-type.view-mode-teaser,
  .node-program.node-teaser

    .group-left
      margin-bottom: 0


+respond($past-menu)

