$search-button-size: 36px

// show filter text instead of menu
.page-search
  +show-mobile-filter-label()

// Search forms
// ------------------------------------------------------

#search-form
  position: relative
  width: 100%

  .form-item
    display: block

  .form-type-textfield
    label
      +e(hide)

  input.form-text
    padding-right: $form-spacing/2 + rem-calc($search-button-size)

  .form-submit
    +search-button($gray, $search-button-size)
    position: absolute
    right: $input-border-width
    top: $input-border-width


// Search block
// ------------------------------------------------------

#search-form


  input, button 
    margin-bottom: 0


// Autocomplete results
// ------------------------------------------------------

.ac_results
  z-index: 3 

  .admin-menu &
    margin-top: rem-calc(-30)

  & > ul
    background: $f-dropdown-bg
    border: $f-dropdown-border-style $f-dropdown-border-width $f-dropdown-border-color
    font-size: $f-dropdown-font-size
    +list-clear

  li 
    +dropdown-style()
    border-top: common-border-val($gray-light)

    &:first-child
      border-top: 0

    &.ac_over
      background: scale-color($primary-color, $lightness: 94%)

    & > *
      display: block
      padding: $f-dropdown-list-padding
      color: $f-dropdown-font-color

.balt_apachesolr_autocomplete.suggestion
  padding-left: rem-calc(67)

.suggest-title.label
  float: left
  display: block
  margin-left: rem-calc(-60)
  

// facets
// ------------------------------------------------------

.block-current-search-active-filters
  margin-bottom: 0!important
  +clearfix()

  .item-list 

    ul
      +list-clear()

      li
        margin-left: 0
    
    li > a
      float: left
      margin-right: rem-calc(10)
      +icon-button-replace($fa-var-times-circle-o, 24px)
      +c(link-alert)

    h5
      +common-border
      padding-bottom: $paragraph-margin-bottom
      margin-bottom: $paragraph-margin-bottom

    .im_domain_id
      display: none!important

 


// search result info
.block-current-search-standard
  +common-border

  .result-0
    display: none

  .main &
    margin-bottom: rem-calc(25)

.block-facetapi
  a.hide-show-toggle
    +c(link-alt)

// Domain notification
ul.facetapi-facetapi-suggestion
  +list-clear()

  


// search results
// ------------------------------------------------------

.spelling-suggestions
  +clearfix
  margin-bottom: rem-calc(10)

  dl > * 
    float: left
    margin-right: rem-calc(5)

ol.search-results
  margin-left: 0
  clear: both

  h3.title
    a
      +c(link-alt)

  .search-snippet-info
    padding-left: 0

  .search-info:last-child
    margin-bottom: 0

.search-result
  +nice-teaser-border(notrow)

  &.bundle-payment_type,
  &.bundle-faq
    h3
      padding-top: rem-calc(5)

  &.bundle-payment_type
    +fake-icon-circle-box-side($red, 'money')

  &.bundle-faq
    +fake-icon-circle-box-side($blue, 'question')
  
  &:last-child
    &:after
      border: 0


// *
// * Media Queries
// *
// ******************************************************

+respond($medium)

  // Search block
  // ------------------------------------------------------

  #search-form
    .header-region-right &
      clear: right
      float: right
      max-width: rem-calc(300)

  // facets
  // ------------------------------------------------------

  #toggle-filters
    display: none