// Social stream wall
// ---------------------------------------------------------------------------- 
#wall
  .filter
    +border-radius(15px)
      
  .dcsns-content
    .stream
      li
        width: 280px
        margin: 0 24px 24px 0
        background: 1px solid $gray-light

      .section-intro
        color: $black !important
        background: none !important

        a,
        span
          margin-left: 50px
          display: block

        a
          color: $blue !important

      img.icon
        background: $gray-dark
        +border-radius(15px)
        padding: 2px
        left: 5px
        bottom: 5px